<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout2.html">
<head>
<meta charset="UTF-8">
<title>Connexion</title>
<link
	href="C:\java\workspace\BTP\src\main\resources\static\css\default.css"
	rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
<script>
	function w3_open() {
		document.getElementById("main").style.marginLeft = "20%";
		document.getElementById("mySidebar").style.width = "20%";
		document.getElementById("mySidebar").style.display = "block";
		document.getElementById("openNav").style.display = 'none';
		document.getElementById("titre").style.marginLeft = "5%";
	}
	function w3_close() {
		document.getElementById("main").style.marginLeft = "0%";
		document.getElementById("mySidebar").style.display = "none";
		document.getElementById("openNav").style.display = "inline-block";
		document.getElementById("titre").style.marginLeft = "0%";
	}
</script>
</head>
<body>
	<div
		class="w3-sidebar w3-bar-block w3-card w3-animate-left bg-dark text-white"
		style="display: none" id="mySidebar">

		<div class="rowMenu row border-bottom border-warning">
			<p class="m-auto" style="font-size: 40px">MENU</p>
			<button class="btn w3-large m-5 text-warning" onclick="w3_close()">&times;</button>
		</div>


		<a href="#" class="w3-bar-item btn btn-dark p-5"
			style="text-decoration: none"> <i
			class="fas fa-angle-double-right mr-4 text-warning"></i> Appels
			d'offre
		</a> <a href="#" class="w3-bar-item btn btn-dark p-5"
			style="text-decoration: none"> <i
			class="fas fa-angle-double-right mr-4 text-warning"></i> Projets
		</a> <a href="#" class="w3-bar-item btn btn-dark p-5"
			style="text-decoration: none"> <i
			class="fas fa-angle-double-right mr-4 text-warning"></i> Actions
		</a> <a href="#" class="w3-bar-item btn btn-dark p-5"
			style="text-decoration: none"> <i
			class="fas fa-angle-double-right mr-4 text-warning"></i> Réunions
		</a> <a href="#" class="w3-bar-item btn btn-dark p-5"
			style="text-decoration: none"> <i
			class="fas fa-angle-double-right mr-4 text-warning"></i> Planning
		</a>
	</div>

	<div id="main">
		<div
			class="bg-dark text-white headerLayout row border-bottom border-dark">
			<button id="openNav"
				class="btn btn-dark px-3 py-2 w3-xlarge my-auto ml-5 mr-4 buttonMenu btn border btn"
				onclick="w3_open()">&#9776;</button>
			<div id="titre" class="my-auto">
				<h1 class="policeTitle">BTP MANAGEMENT</h1>
			</div>
		</div>
	</div>

	
</body>
</html>