<!DOCTYPE html >

<html>
<head>
<meta charset="utf-8" />
<title></title>
<link
	href="C:/java/workspace/BTP/src/main/resources/static/css/default.css"
	rel="stylesheet" type="text/css" media="all" />
<link
	href="C:/java/workspace/BTP/src/main/resources/static/css/dashboard.css"
	rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
	
<!-- 	Calendrier -->

<!-- 	Calendrier -->
</head>

<body >


	<div class="container-fluid" >

		<div class="content-wrapper">
			<div class="row">
				<div class="col-md-1 grid-margin">
					<i class="fas fa-arrow-left " style="font-size: 32px"></i>
				</div>
				<div class="col-md-10 grid-margin">
					<div>
						<h4 class="font-weight-bold mb-0" style="text-align: center;">
							Refection de voirie sur l'A64</h4>
					</div>
				</div>
				<div class="col-md-1 grid-margin">
					<i class="fas fa-arrow-right "
						style="font-size: 32px; margin-left: 60px;"></i>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Numéro de
								Devis</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">1546</h3>
								<i class="fa fa-tag "
									style="font-size: 32px; color: rgb(246, 194, 59)"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Budget
								prévu</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">200
									000 euros</h3>
								<i class="fas fa-euro-sign "
									style="font-size: 32px; color: rgb(246, 194, 59)"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Date de
								démarrage</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">20/07/2020</h3>
								<i class="fas fa-calendar-day " style="font-size: 32px"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Prix
								annoncé à l'offre</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">300
									000 euros</h3>
								<i class="fas fa-euro-sign "
									style="font-size: 32px; color: rgb(246, 194, 59)"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Date de fin
								de projet</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">21/10/2021</h3>
								<i class="fas fa-calendar-day " style="font-size: 32px"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Déboursé
								réel</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">90
									000 euros</h3>
								<i class="fas fa-euro-sign "
									style="font-size: 32px; color: rgb(246, 194, 59)"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Budget
								restant</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">110
									000 euros</h3>
								<i class="fas fa-euro-sign " style="font-size: 32px"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Factures en
								attente</p>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">4</h3>
								<i class="far fa-file-alt " style="font-size: 32px"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="content-wrapper">
			<div class="row">

				<div class="col-md-12 grid-margin">
					<div>
						<h4 class="font-weight-bold mb-0">Prestations</h4>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-6 grid-margin stretch-card" >
					<div class="card shadow p-3 mb-5 bg-white rounded" style="height:400px;">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Fourniture
								et pose du BBSG 0/10 sur 5 cm</p>

							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<p class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">Colas</p>
								<i class="fas fa-road" style="font-size: 48px"></i>
							</div>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<p class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">Avancement
									prévisionnel : 20/02/2020</p>
							</div>
							<div
								class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
								<p class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">Avancement
									réel : 25/02/2020</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded"  style="height:400px;">
						<div class="card-body">
							<p class="card-title text-md-center text-xl-left">Calendrier</p>
							
<!-- 							Calendrier -->
							

<!--   Calendrier -->
</div>
						</div>
					</div>
				</div>
			</div>
		

		<div class="content-wrapper">
			<div class="row">

				<div class="col-md-12 grid-margin">
					<div>
						<h4 class="font-weight-bold mb-0">Actions</h4>
						
					</div>
				</div>

			</div>

			<div class="row">
					 <div class="col-md-6 grid-margin stretch-card">
							<div class="card shadow p-3 mb-5 bg-white rounded"  style="height:450px;">
								<div class="card-body" >
								<div style="display:flex;margin-bottom: 5%">
								<i class="fas fa-construction" style="font-size: 48px; margin-right: 5%;"></i>
									<h4 class="card-title">Action en cours</h4>
									
									</div>
									<div class="list-wrapper pt-2" >
										<ul class="d-flex flex-column-reverse todo-list todo-list-custom" style="height:150px;overflow-x: hidden; overflow-y: scroll;">
											<li style="display:flex;margin-bottom: 2%; margin-right: 2%">
												<div class="form-check form-check-flat">
													<label class="form-check-label">
														<input class="checkbox" type="checkbox">
														Réparation flexible hydraulique pelle Kobelco 20T
													</label>
												</div>
												<i class="far fa-trash-alt" style="margin-left: auto"></i>
											</li>
											<li class="completed" style="display:flex; margin-bottom: 2%; margin-right: 2%">
												<div class="form-check form-check-flat">
													<label class="form-check-label">
														<input class="checkbox" type="checkbox" checked>
														Livraison compacteur V4
													</label>
												</div>
												<i class="far fa-trash-alt" style="margin-left: auto"></i>
											</li>
											<li style="display:flex; margin-bottom: 2%; margin-right: 2%">
												<div class="form-check form-check-flat">
													<label class="form-check-label">
														<input class="checkbox" type="checkbox">
														Passage balayeuse hebdomadaire
													</label>
												</div>
												<i class="far fa-trash-alt" style="margin-left: auto"></i>
											</li>
											<li class="completed" style="display:flex; margin-bottom: 2%; margin-right: 2%">
												<div class="form-check form-check-flat">
													<label class="form-check-label">
														<input class="checkbox" type="checkbox" checked>
														Ranger l'atelier
													</label>
												</div>
												<i class="far fa-trash-alt" style="margin-left: auto"></i>
											</li>
											<li style="display:flex; margin-bottom: 2%; margin-right: 2%">
												<div class="form-check form-check-flat">
													<label class="form-check-label">
														<input class="checkbox" type="checkbox">
														Faire livrer des bacs pour tri selectif
													</label>
												</div>
												<i class="far fa-trash-alt" style="margin-left: auto"></i>
											</li>
										</ul>
                  </div>
                  <div class="add-items d-flex mb-0 mt-4">
										<input type="text" class="form-control todo-list-input mr-2"  placeholder="Créer une nouvelle action">
										<button class="add btn btn-icon text-primary todo-list-add-btn bg-transparent"><i class="far fa-check"></i></button>
									</div>
									 <div class="add-items d-flex mb-0 mt-4">
										<button type="button" class="btn btn-primary">Valider les actions selectionnées</button>
									</div>
								</div>
							</div>
            </div>
				
				<div class="col-md-6 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded"  style="height:450px;">
						<div class="card-body" >
								<div style="display:flex;margin-bottom: 5%">
								<i class="fas fa-construction" style="font-size: 48px; margin-right: 5%;"></i>
									<h4 class="card-title">Action terminée</h4>
									
									</div>
									<div class="list-wrapper pt-2">
										<ul class="d-flex flex-column-reverse todo-list todo-list-custom" style="height:200px;overflow-x: hidden; overflow-y: scroll;">
											<li style="display:flex;margin-bottom: 2%; margin-right: 2%">
												<div class="form-check form-check-flat">
													<label class="form-check-label">
														<input class="checkbox" type="checkbox">
														Changer godet
													</label>
												</div>
												<i class="far fa-trash-alt" style="margin-left: auto"></i>
											</li>			
                  </div>
					</div>
					</div>
				</div>
				
			</div>
		
		
		<div class="content-wrapper">
			<div class="row">

				<div class="col-md-4 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded"  style="height:400px;">
						<div class="card-body" >
								<div style="display:flex;margin-bottom: 5%">
								<i class="fas fa-calendar-day" style="font-size: 48px; margin-right: 5%;"></i>
									<h4 class="card-title">Réunion en cours</h4>
									
									</div>
									<div class="list-wrapper pt-2">
										<ul class="d-flex flex-column-reverse todo-list todo-list-custom" style="height:200px;overflow-x: hidden; overflow-y: scroll;">
											<li style="display:flex;margin-bottom: 2%; margin-right: 2%">
												<div class="form-check form-check-flat">
													<label class="form-check-label">
														<input class="checkbox" type="checkbox">
														Réunion du 12/08/2020
													</label>
												</div>
												<i class="far fa-trash-alt" style="margin-left: auto"></i>
											</li>			
                  </div>
					</div>
					</div>
				</div>
				<div class="col-md-4 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded"  style="height:400px;">
						<div class="card-body" >
								<div style="display:flex;margin-bottom: 5%">
								<i class="fas fa-calendar-day" style="font-size: 48px; margin-right: 5%;"></i>
									<h4 class="card-title">Réunion terminée</h4>
									
									</div>
									<div class="list-wrapper pt-2">
										<ul class="d-flex flex-column-reverse todo-list todo-list-custom" style="height:200px;overflow-x: hidden; overflow-y: scroll;">
											<li style="display:flex;margin-bottom: 2%; margin-right: 2%">
												<div class="form-check form-check-flat">
													<label class="form-check-label">
														<input class="checkbox" type="checkbox">
														Réunion du 12/05/2020
													</label>
												</div>
												<i class="far fa-trash-alt" style="margin-left: auto"></i>
											</li>			
                  </div>
					</div>
					</div>
				</div>
				<div class="col-md-4 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded"  style="height:400px;">
						<div class="card-body" >
								<div style="display:flex;margin-bottom: 5%">
								<i class="fas fa-calendar-day" style="font-size: 48px; margin-right: 5%;"></i>
									<h4 class="card-title">Planifier une nouvelle réunion</h4>
									
									</div>
								
					</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="content-wrapper">
			<div class="row">
		<div class="col-md-6 grid-margin stretch-card">
				<div class="card shadow p-3 mb-5 bg-white rounded"  style="height:400px;">
								<div class="card-body" >
								<div style="display:flex;margin-bottom: 5%">
								<i class="far fa-file-alt " style="font-size: 48px; margin-right: 5%;"></i>
									<h4 class="card-title">Facture en attente de validation</h4>
									
									</div>
									<div class="list-wrapper pt-2" >
										<ul class="d-flex flex-column-reverse todo-list todo-list-custom" style="height:150px;overflow-x: hidden; overflow-y: scroll;">
											<li style="display:flex;margin-bottom: 2%; margin-right: 2%">
												<div class="form-check form-check-flat">
													<label class="form-check-label">
														<input class="checkbox" type="checkbox">
														Facture prestation S13
													</label>
												</div>
												
											</li>
											<li class="completed" style="display:flex; margin-bottom: 2%; margin-right: 2%">
												<div class="form-check form-check-flat">
													<label class="form-check-label">
														<input class="checkbox" type="checkbox" checked>
														Facture prestation S14
													</label>
												</div>
												
											</li>
											
										</ul>
                  </div>
                  
									 <div class="add-items d-flex mb-0 mt-4">
										<button type="button" class="btn btn-primary">Valider les factures selectionnées</button>
										<button type="button" class="btn btn-danger">Refuser les factures selectionnées</button>
									</div>
								</div>
							</div>
				
					</div>
					<div class="col-md-6 grid-margin stretch-card">
				<div class="card shadow p-3 mb-5 bg-white rounded"  style="height:400px;">
								<div class="card-body" >
								<div style="display:flex;margin-bottom: 5%">
								<i class="far fa-file-alt " style="font-size: 48px; margin-right: 5%;"></i>
									<h4 class="card-title">Factures validées</h4>
									
									</div>
									<div class="list-wrapper pt-2">
										<ul class="d-flex flex-column-reverse todo-list todo-list-custom" style="height:150px;overflow-x: hidden; overflow-y: scroll;">
											<li style="display:flex;margin-bottom: 2%; margin-right: 2%">
												<div class="form-check form-check-flat">
													<label class="form-check-label">
														<input class="checkbox" type="checkbox">
														Facture prestation S11
													</label>
												</div>
												
											</li>
											<li class="completed" style="display:flex; margin-bottom: 2%; margin-right: 2%">
												<div class="form-check form-check-flat">
													<label class="form-check-label">
														<input class="checkbox" type="checkbox" checked>
														Facture prestation S12
													</label>
												</div>
												
											</li>
											
										</ul>
                  </div>
                  
									 
								</div>
							</div>
				
					</div>
					</div>
					
				</div>
				
			</div>
			
			<div class="content-wrapper">
			
			<div class="row"  >
			
				<div class="col-md-12 grid-margin stretch-card" >
				
				
						<h4 class="font-weight-bold mb-0" >Documents relatifs au projet</h4>
				
					</div>
				

			</div>
			</div>
			
			
			<div class="row">
				<div class="col-md-12 grid-margin stretch-card">
					<div class="card shadow p-3 mb-5 bg-white rounded"  style="height:400px;">
						<div class="card-body">
							<button type="button" class="btn btn-primary">Ajout d'un document</button>
							
  <form action="/action_page.php">
    <div class="form-group">
      <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Soumettre</button>
  </form>

						</div>
					</div>
				</div>

					</div>
				</div>
				</div>
	
</body>
</html>
